In [1]:
%load_ext sql

In [3]:
%sql sqlite:///smaller.db
%sql select * from data limit 5

Done.

[(u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 1, 1.0, 706.0, 11774.7, 2577.369, 736.6, 7179.3, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 2, 1.0, 704.0, 11156.9, 2606.306, 718.8, 7006.2, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 3, 1.0, 702.0, 10990.0, 2561.697, 716.2, 6980.1, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 4, 1.0, 702.0, 11027.6, 2631.762, 716.2, 6980.8, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 5, 1.0, 699.0, 11258.5, 2678.697, 721.4, 7030.7, u'Lewis', 46.7559, -122.8578, u'Coal')]

In [3]:
%%sql
ATTACH DATABASE 'coal.db' AS coal;
create table coal.data as select *, substr(op_date, -4) as year from data where fuel_type is 'Coal';

Done.
Done.

[]

In [2]:
%sql sqlite:///coal.db

u'Connected: None@coal.db'

In [7]:
%sql select *, CO2_MASS / heat_input as CO2_rate from data where CO2_rate < 0.07 and CO2_rate > 0.05 group by orispl_code, unitid order by state

Done.

[(u'AZ', u'Irvington Generating Station', 126, u'4', u'12-23-2016', 15, 0.55, 22.0, 1.375, 47.14, 14.63, 248.105, u'Pima', 32.16, -110.9047, u'Coal', u'2016', 0.05896696962979384),
 (u'AZ', u'Apache Station', 160, u'2', u'12-04-2016', 3, 1.0, 0.0, 0.0, 4.279, 4.6, 77.8, u'Cochise', 32.0619, -109.8931, u'Coal', u'2016', 0.05912596401028277),
 (u'AZ', u'Apache Station', 160, u'3', u'12-01-2016', 4, 1.0, 0.0, 0.1, 13.41, 10.9, 183.7, u'Cochise', 32.0619, -109.8931, u'Coal', u'2016', 0.0593358737071312),
 (u'CO', u'Arapahoe', 465, u'1', u'12-18-2002', 21, 0.88, 30.0, 256.256, 171.428, 17.248, 291.544, u'Denver', 39.67, -105.0028, u'Coal', u'2002', 0.059160881376396024),
 (u'CO', u'Arapahoe', 465, u'2', u'12-12-2002', 20, 0.6, 18.0, 114.66, 55.185, 10.08, 169.8, u'Denver', 39.67, -105.0028, u'Coal', u'2002', 0.05936395759717314),
 (u'CO', u'Arapahoe', 465, u'3', u'12-22-2007', 11, 1.0, 29.0, 1.8, 171.93, 27.7, 467.2, u'Denver', 39.67, -105.0028, u'Coal', u'2007', 0.05928938356164384),
 (u'CO', u'Arapahoe', 465, u'4', u'12-18-2007', 15, 1.0, 77.0, 163.6, 189.527, 76.4, 1289.3, u'Denver', 39.67, -105.0028, u'Coal', u'2007', 0.059256961141704804),
 (u'CO', u'Cameo', 468, u'2', u'12-31-2002', 4, 1.0, 0.0, 1.8, 24.236, 15.4, 260.6, u'Mesa', 39.1486, -108.3189, u'Coal', u'2002', 0.05909439754412893),
 (u'CO', u'Cherokee', 469, u'1', u'04-07-2012', 9, 1.0, 1.0, 4.4, 10.39, 11.4, 192.4, u'Adams', 39.8078, -104.9648, u'Coal', u'2012', 0.059251559251559255),
 (u'CO', u'Cherokee', 469, u'2', u'10-15-2011', 22, 0.32, 36.0, 55.968, 166.647, 27.296, 460.352, u'Adams', 39.8078, -104.9648, u'Coal', u'2011', 0.05929375782010288),
 (u'CO', u'Cherokee', 469, u'3', u'08-15-2015', 8, 1.0, 0.0, 3.0, 4.438, 6.1, 103.2, u'Adams', 39.8078, -104.9648, u'Coal', u'2015', 0.05910852713178294),
 (u'CO', u'Cherokee', 469, u'4', u'11-17-2016', 10, 1.0, 131.0, 13.7, 77.837, 94.2, 1588.5, u'Adams', 39.8078, -104.9648, u'Coal', u'2016', 0.05930122757318225),
 (u'CO', u'Comanche (470)', 470, u'1', u'12-23-2016', 23, 1.0, 0.0, 5.6, 13.862, 14.4, 243.2, u'Pueblo', 38.2081, -104.5747, u'Coal', u'2016', 0.05921052631578948),
 (u'CO', u'Comanche (470)', 470, u'2', u'10-05-2016', 22, 1.0, 0.0, 10.1, 11.965, 15.9, 234.6, u'Pueblo', 38.2081, -104.5747, u'Coal', u'2016', 0.06777493606138107),
 (u'CO', u'Comanche (470)', 470, u'3', u'12-02-2016', 21, 1.0, 153.0, 16.2, 108.783, 119.4, 2014.5, u'Pueblo', 38.2081, -104.5747, u'Coal', u'2016', 0.05927029039463887),
 (u'CO', u'Valmont', 477, u'5', u'11-30-2011', 22, 0.8, 1.0, 4.64, 1.455, 7.2, 121.28, u'Boulder', 40.0195, -105.202, u'Coal', u'2011', 0.059366754617414245),
 (u'CO', u'Martin Drake', 492, u'5', u'02-26-2016', 14, 1.0, 22.0, 1.5, 58.56, 18.1, 305.0, u'El Paso', 38.8244, -104.8331, u'Coal', u'2016', 0.059344262295081975),
 (u'CO', u'Martin Drake', 492, u'6', u'11-28-2016', 16, 1.0, 29.0, 2.7, 76.703, 23.9, 403.7, u'El Paso', 38.8244, -104.8331, u'Coal', u'2016', 0.05920237800346792),
 (u'CO', u'Martin Drake', 492, u'7', u'12-20-2016', 19, 1.0, 29.0, 3.6, 34.6, 20.5, 346.0, u'El Paso', 38.8244, -104.8331, u'Coal', u'2016', 0.059248554913294796),
 (u'CO', u'Hayden', 525, u'H1', u'05-24-2012', 18, 1.0, 0.0, 0.1, 0.598, 2.0, 33.2, u'Routt', 40.4856, -107.185, u'Coal', u'2012', 0.06024096385542168),
 (u'CO', u'Hayden', 525, u'H2', u'11-03-2002', 13, 1.0, 0.0, 4.7, 19.004, 40.2, 678.7, u'Routt', 40.4856, -107.185, u'Coal', u'2002', 0.059230882569618386),
 (u'CO', u'Nucla', 527, u'1', u'12-21-2016', 6, 1.0, 0.0, 1.9, 15.953, 12.6, 185.5, u'Montrose', 38.2387, -108.5083, u'Coal', u'2016', 0.06792452830188679),
 (u'CO', u'Craig', 6021, u'C1', u'10-04-2001', 8, 0.53, 0.0, 5.936, 0.069, 1.007, 17.278, u'Moffat', 40.4627, -107.5912, u'Coal', u'2001', 0.05828220858895705),
 (u'CO', u'Craig', 6021, u'C2', u'07-21-2001', 19, 1.0, 289.0, 478.9, 899.472, 295.7, 4262.9, u'Moffat', 40.4627, -107.5912, u'Coal', u'2001', 0.06936592460531564),
 (u'CO', u'Craig', 6021, u'C3', u'08-30-2001', 7, 1.0, 0.0, 57.4, 77.343, 144.9, 2274.8, u'Moffat', 40.4627, -107.5912, u'Coal', u'2001', 0.06369790750835239),
 (u'CO', u'Pawnee', 6248, u'1', u'09-04-2016', 15, 1.0, 0.0, 11.7, 21.168, 24.2, 399.4, u'Morgan', 40.2217, -103.6803, u'Coal', u'2016', 0.06059088632949424),
 (u'CO', u'Ray D Nixon', 8219, u'1', u'08-11-2005', 2, 0.25, 0.0, 0.275, 0.949, 0.2, 3.175, u'El Paso', 38.6306, -104.7056, u'Coal', u'2005', 0.06299212598425198),
 (u'MT', u'Colstrip', 6076, u'1', u'12-26-2016', 11, 1.0, 0.0, 8.3, 40.892, 24.3, 358.7, u'Rosebud', 45.8831, -106.614, u'Coal', u'2016', 0.06774463339838305),
 (u'MT', u'Colstrip', 6076, u'2', u'06-12-2016', 1, 1.0, 1.0, 0.0, 12.47, 16.6, 239.8, u'Rosebud', 45.8831, -106.614, u'Coal', u'2016', 0.06922435362802336),
 (u'MT', u'Lewis & Clark', 6089, u'B1', u'12-21-2016', 14, 1.0, 0.0, 0.0, 2.408, 2.6, 44.6, u'Richland', 47.6788, -104.1569, u'Coal', u'2016', 0.05829596412556054),
 (u'MT', u'Hardin Generating Station', 55749, u'U1', u'12-04-2016', 4, 0.58, 0.0, 0.0, 0.056, 3.306, 56.202, u'Big Horn', 45.7578, -107.6, u'Coal', u'2016', 0.05882352941176471),
 (u'NM', u'Four Corners Steam Elec Station', 2442, u'1', u'10-21-2005', 14, 0.63, 18.0, 41.265, 84.69, 16.443, 278.586, u'San Juan', 36.69, -108.4814, u'Coal', u'2005', 0.059023066485753055),
 (u'NM', u'Four Corners Steam Elec Station', 2442, u'2', u'12-07-2005', 13, 1.0, 0.0, 3.3, 48.294, 18.4, 340.1, u'San Juan', 36.69, -108.4814, u'Coal', u'2005', 0.054101734783887086),
 (u'NM', u'Four Corners Steam Elec Station', 2442, u'3', u'12-14-2005', 12, 1.0, 41.0, 141.3, 292.941, 55.9, 807.0, u'San Juan', 36.69, -108.4814, u'Coal', u'2005', 0.06926889714993804),
 (u'NM', u'Four Corners Steam Elec Station', 2442, u'4', u'12-20-2005', 12, 1.0, 17.0, 103.4, 333.391, 89.4, 1557.9, u'San Juan', 36.69, -108.4814, u'Coal', u'2005', 0.05738494126709032),
 (u'NM', u'Four Corners Steam Elec Station', 2442, u'5', u'12-21-2005', 8, 1.0, 32.0, 169.5, 439.606, 101.7, 1505.5, u'San Juan', 36.69, -108.4814, u'Coal', u'2005', 0.06755230820325474),
 (u'NM', u'San Juan', 2451, u'1', u'07-15-2016', 13, 0.08, 0.0, 0.08, 0.014, 0.096, 1.744, u'San Juan', 36.8006, -108.4386, u'Coal', u'2016', 0.05504587155963303),
 (u'NM', u'San Juan', 2451, u'2', u'11-17-2016', 2, 0.02, 0.0, 0.086, 0.0, 0.026, 0.488, u'San Juan', 36.8006, -108.4386, u'Coal', u'2016', 0.05327868852459016),
 (u'NM', u'San Juan', 2451, u'3', u'12-15-2016', 17, 0.75, 0.0, 0.0, 0.28, 1.425, 25.425, u'San Juan', 36.8006, -108.4386, u'Coal', u'2016', 0.05604719764011799),
 (u'NM', u'San Juan', 2451, u'4', u'08-23-2016', 10, 0.68, 0.0, 0.0, 1.287, 1.292, 23.392, u'San Juan', 36.8006, -108.4386, u'Coal', u'2016', 0.055232558139534885),
 (u'NV', u'Reid Gardner', 2324, u'1', u'05-11-2011', 9, 1.0, 9.0, 0.4, 35.292, 14.1, 212.6, u'Clark', 36.6531, -114.6364, u'Coal', u'2011', 0.06632173095014111),
 (u'NV', u'Reid Gardner', 2324, u'2', u'06-20-2011', 8, 1.0, 3.0, 0.6, 17.577, 9.3, 142.9, u'Clark', 36.6531, -114.6364, u'Coal', u'2011', 0.06508047585724283),
 (u'NV', u'Reid Gardner', 2324, u'3', u'04-18-2011', 9, 1.0, 5.0, 0.0, 15.802, 11.2, 164.6, u'Clark', 36.6531, -114.6364, u'Coal', u'2011', 0.06804374240583232),
 (u'NV', u'Reid Gardner', 2324, u'4', u'12-17-2006', 3, 1.0, 5.0, 52.3, 43.22, 68.1, 1080.5, u'Clark', 36.6531, -114.6364, u'Coal', u'2006', 0.06302637667746414),
 (u'NV', u'Mohave', 2341, u'1', u'01-28-2006', 9, 0.25, 0.0, 0.05, 10.875, 4.5, 76.05, u'Clark', 35.1458, -114.5917, u'Coal', u'2006', 0.0591715976331361),
 (u'NV', u'Mohave', 2341, u'2', u'02-09-2006', 23, 1.0, 0.0, 0.2, 38.842, 17.8, 301.1, u'Clark', 35.1458, -114.5917, u'Coal', u'2006', 0.0591165725672534),
 (u'UT', u'Carbon', 3644, u'1', u'04-03-2009', 13, 0.02, 0.0, 0.0, 0.0, 0.002, 0.03, u'Carbon', 39.7272, -110.8644, u'Coal', u'2009', 0.06666666666666667),
 (u'WY', u'Naughton', 4162, u'1', u'12-11-2016', 10, 1.0, 7.0, 9.0, 28.427, 12.9, 217.0, u'Lincoln', 41.7572, -110.5986, u'Coal', u'2016', 0.05944700460829493),
 (u'WY', u'Naughton', 4162, u'2', u'11-13-2016', 14, 1.0, 1.0, 647.0, 15.089, 14.2, 239.5, u'Lincoln', 41.7572, -110.5986, u'Coal', u'2016', 0.0592901878914405),
 (u'WY', u'Naughton', 4162, u'3', u'12-16-2016', 22, 1.0, 0.0, 0.0, 5.3, 15.0, 252.4, u'Lincoln', 41.7572, -110.5986, u'Coal', u'2016', 0.059429477020602216),
 (u'WY', u'Wyodak', 6101, u'BW91', u'06-24-2003', 10, 1.0, 2.0, 503.8, 21.402, 61.0, 1189.0, u'Campbell', 44.2886, -105.3847, u'Coal', u'2003', 0.051303616484440706),
 (u'WY', u'Jim Bridger', 8066, u'BW73', u'07-07-2003', 0, 0.53, 1.0, 2153.019, 17.32, 25.758, 433.01, u'Sweetwater', 41.7378, -108.7875, u'Coal', u'2003', 0.0594859241126071)]

In [12]:
%%sql
select name, unitid, max(CAST(gload as float)) as max_gen, sum(cast(gload as float) / cast(heat_input as float)) as capacity_factor, year
from data group by orispl_code, unitid, year limit 5

Done.

[(u'Escalante ', u'1', 260.0, 669.3954118878012, u'2001'),
 (u'Escalante ', u'1', 262.0, 838.3861436224213, u'2002'),
 (u'Escalante ', u'1', 262.0, 974.6216015261315, u'2003'),
 (u'Escalante ', u'1', 264.0, 858.9076400369883, u'2004'),
 (u'Prewitt Escalante Generating Station', u'1', 265.0, 881.9173240656943, u'2005')]

In [14]:
%%sql
drop table if exists cf;
create table cf as 
select name, d.orispl_code, d.unitid, state, op_date, op_hour, gload, 
cast(gload as float) / cast(max_gen as float) as capacity_factor
from (select orispl_code, unitid, max(CAST(gload as float)) as max_gen
from data group by orispl_code, unitid) as m, data as d
where d.orispl_code = m.orispl_code and d.unitid = m.unitid;
select * from cf limit 5;

Done.
Done.
Done.

[(u'Centralia', 3845, u'BW21', u'WA', u'01-01-2001', 1, 706.0, 0.9097938144329897),
 (u'Centralia', 3845, u'BW21', u'WA', u'01-01-2001', 2, 704.0, 0.9072164948453608),
 (u'Centralia', 3845, u'BW21', u'WA', u'01-01-2001', 3, 702.0, 0.904639175257732),
 (u'Centralia', 3845, u'BW21', u'WA', u'01-01-2001', 4, 702.0, 0.904639175257732),
 (u'Centralia', 3845, u'BW21', u'WA', u'01-01-2001', 5, 699.0, 0.9007731958762887)]

In [32]:
%%sql
select count(*), substr(op_date, -4) as year from cf where capacity_factor > 0 and capacity_factor <= 0.1 group by year

Done.

[(2534, u'2001'),
 (2412, u'2002'),
 (2265, u'2003'),
 (2383, u'2004'),
 (2307, u'2005'),
 (2167, u'2006'),
 (2344, u'2007'),
 (2501, u'2008'),
 (2793, u'2009'),
 (3872, u'2010'),
 (4198, u'2011'),
 (4405, u'2012'),
 (3734, u'2013'),
 (2877, u'2014'),
 (4894, u'2015'),
 (3039, u'2016')]

In [38]:
import sqlite3
import pandas
import os.path
con = sqlite3.connect('coal.db')
labels = pandas.read_sql("select orispl_code, unitid from data group by orispl_code, unitid", con)

name
orispl_code
unitid
state
op_date
op_hour
gload
capacity_factor

In [49]:
# Generates csv file for each unit, for each year, of capacity factors.
if not os.path.exists('cf'):
    os.makedirs('cf')
for i, row in labels.iterrows():
    print row['orispl_code'], row['unitid']
    for year in range(2001, 2017):
        table = pandas.read_sql("select name, orispl_code, unitid, op_date, op_hour, capacity_factor from cf\
        where orispl_code is " + str(row['orispl_code']) + " and unitid is '" + row['unitid'] + "' and \
        substr(op_date, -4) is '" + str(year) + "'", con)
        table.to_csv('cf/' + str(row['orispl_code']) + '_' + row['unitid'] + '_' + str(year) + '.csv')

87 1
113 1
113 2
113 3
113 4
126 4
160 2
160 3
465 1
465 2
465 3
465 4
468 2
469 1
469 2
469 3
469 4
470 1
470 2
470 3
477 5
492 5
492 6
492 7
508 8
525 H1
525 H2
527 1
2187 2
2324 1
2324 2
2324 3
2324 4
2341 1
2341 2
2442 1
2442 2
2442 3
2442 4
2442 5
2451 1
2451 2
2451 3
2451 4
3644 1
3644 2
3845 BW21
3845 BW22
4158 BW41
4158 BW42
4158 BW43
4158 BW44
4162 1
4162 2
4162 3
4941 1
4941 2
4941 3
6021 C1
6021 C2
6021 C3
6076 1
6076 2
6076 3
6076 4
6089 B1
6101 BW91
6106 1SG
6165 1
6165 2
6165 3
6177 U1B
6177 U2B
6204 1
6204 2
6204 3
6248 1
6481 1SGA
6481 2SGA
6761 101
7504 001
7790 1-1
8066 BW71
8066 BW72
8066 BW73
8066 BW74
8069 1
8069 2
8219 1
8223 1
8223 2
8223 4
8223 TS3
8224 1
8224 2
50951 1
55479 001
55749 U1
56224 001
56319 001
56596 001
56609 01

In [ ]:
for i, row in labels.iterrows():
    for year in range(2001, 2017):
        frame = pandas.read_csv('cf/' + str(row['orispl_code']) + '_' + row['unitid'] + '_' + str(year) + '.csv')
        data = frame.capacity_factor