In [3]:
%load_ext sql
%sql sqlite://

'Connected: None@None'

In [1]:
import csv, sqlite3
import os.path

In [5]:
%sql sqlite:///cems.db

u'Connected: None@cems.db'

In [15]:
%sql select * from test limit 5

Done.

[(u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 0, 1.0, 704.0, 11493.6, 2506.854, 720.5, 7022.0),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 1, 1.0, 706.0, 11774.7, 2577.369, 736.6, 7179.3),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 2, 1.0, 704.0, 11156.9, 2606.306, 718.8, 7006.2),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 3, 1.0, 702.0, 10990.0, 2561.697, 716.2, 6980.1),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 4, 1.0, 702.0, 11027.6, 2631.762, 716.2, 6980.8)]

In [7]:
con = sqlite3.connect("cems.db")
cur = con.cursor()

In [8]:
cur.execute('drop table if exists test;')
cur.execute(
"create table test( \
    state varchar, \
    facility_name varchar, \
    orispl_code int, \
    unitid varchar, \
    op_date date, \
    op_hour int, \
    op_time float, \
    gload float, \
    SO2_MASS float, \
    NOX_MASS float, \
    CO2_MASS float, \
    HEAT_INPUT float \
);")

In [14]:
for year in range(2001, 2018):
    print(year)
    for n_month in range(1, 13):
        for state in ['wa', 'or', 'ca', 'id', 'nv', 'ut', 'az', 'nm', 'co', 'wy', 'mt', 'tx']:
            month = str(n_month) if n_month > 9 else "0" + str(n_month)
            name = "unzipped/" + str(year) + state + month + ".csv"
            if os.path.isfile(name):
                with open(name, 'rb') as fin:
                    dr = csv.DictReader(fin)
                    try:
                        to_db = [(i['STATE'], i['FACILITY_NAME'], i['ORISPL_CODE'], i['UNITID'], i['OP_DATE'], i['OP_HOUR'], i['OP_TIME'], i['GLOAD (MW)'], 
                                  i['SO2_MASS (lbs)'], i['NOX_MASS (lbs)'], i['CO2_MASS (tons)'], i['HEAT_INPUT (mmBtu)']) for i in dr]
                    except:
                        try:
                            to_db = [(i['STATE'], i['FACILITY_NAME'], i['ORISPL_CODE'], i['UNITID'], i['OP_DATE'], i['OP_HOUR'], i['OP_TIME'], i['GLOAD'], 
                                  i['SO2_MASS'], i['NOX_MASS'], i['CO2_MASS'], i['HEAT_INPUT']) for i in dr]
                        except:
                            print(name)
#                     print to_db
                    cur.executemany("insert into test (STATE, FACILITY_NAME, ORISPL_CODE, UNITID, OP_DATE, \
OP_HOUR, OP_TIME, GLOAD, SO2_MASS, NOX_MASS, CO2_MASS, HEAT_INPUT ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)

con.commit()

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017

In [52]:
con.commit()

In [41]:
print(cur.fetchall())

[(u'WY', u'Dave Johnston', 4158, u'BW41', u'03-01-2017', 0, 1.0, 68.0, u'', 609.4, u'Measured', 0.791, u'Calculated', 0.242, u'Measured', 186.534, u'Calculated', 80.8, u'Measured', 0.105, u'Calculated', 770.8, 764, 2633), (u'WY', u'Dave Johnston', 4158, u'BW41', u'03-01-2017', 1, 1.0, 69.0, u'', 611.4, u'Measured', 0.788, u'Calculated', 0.237, u'Measured', 183.983, u'Calculated', 81.4, u'Measured', 0.105, u'Calculated', 776.3, 764, 2633), (u'WY', u'Dave Johnston', 4158, u'BW41', u'03-01-2017', 2, 1.0, 69.0, u'', 608.1, u'Measured', 0.789, u'Calculated', 0.234, u'Measured', 180.367, u'Calculated', 80.8, u'Measured', 0.105, u'Calculated', 770.8, 764, 2633), (u'WY', u'Dave Johnston', 4158, u'BW41', u'03-01-2017', 3, 1.0, 69.0, u'', 622.8, u'Measured', 0.812, u'Calculated', 0.231, u'Measured', 177.246, u'Calculated', 80.5, u'Measured', 0.105, u'Calculated', 767.3, 764, 2633), (u'WY', u'Dave Johnston', 4158, u'BW41', u'03-01-2017', 4, 1.0, 67.0, u'', 636.5, u'Measured', 0.875, u'Calculated', 0.293, u'Measured', 213.245, u'Calculated', 76.3, u'Measured', 0.105, u'Calculated', 727.8, 764, 2633)]