In [1]:
%load_ext sql
%sql sqlite:///smaller.db

u'Connected: None@smaller.db'

In [5]:
%sql select name, unitid, min(year) from data where fuel_type is 'Coal' group by orispl_code, unitid

Done.

[(u'Escalante ', u'1', 2001),
 (u'Cholla', u'1', 2001),
 (u'Cholla', u'2', 2001),
 (u'Cholla', u'3', 2001),
 (u'Cholla', u'4', 2001),
 (u'Irvington Generating Station', u'4', 2001),
 (u'Apache Station', u'2', 2001),
 (u'Apache Station', u'3', 2001),
 (u'Arapahoe', u'1', 2001),
 (u'Arapahoe', u'2', 2001),
 (u'Arapahoe', u'3', 2001),
 (u'Arapahoe', u'4', 2001),
 (u'Cameo', u'2', 2001),
 (u'Cherokee', u'1', 2001),
 (u'Cherokee', u'2', 2001),
 (u'Cherokee', u'3', 2001),
 (u'Cherokee', u'4', 2001),
 (u'Comanche (470)', u'1', 2001),
 (u'Comanche (470)', u'2', 2001),
 (u'Comanche (470)', u'3', 2010),
 (u'Valmont', u'5', 2001),
 (u'Martin Drake', u'5', 2001),
 (u'Martin Drake', u'6', 2001),
 (u'Martin Drake', u'7', 2001),
 (u'Lamar', u'8', 2009),
 (u'Hayden', u'H1', 2001),
 (u'Hayden', u'H2', 2001),
 (u'Nucla', u'1', 2001),
 (u'J E Corette', u'2', 2001),
 (u'Reid Gardner', u'1', 2001),
 (u'Reid Gardner', u'2', 2001),
 (u'Reid Gardner', u'3', 2001),
 (u'Reid Gardner', u'4', 2001),
 (u'Mohave', u'1', 2001),
 (u'Mohave', u'2', 2001),
 (u'Four Corners Steam Elec Station', u'1', 2001),
 (u'Four Corners Steam Elec Station', u'2', 2001),
 (u'Four Corners Steam Elec Station', u'3', 2001),
 (u'Four Corners Steam Elec Station', u'4', 2001),
 (u'Four Corners Steam Elec Station', u'5', 2001),
 (u'San Juan', u'1', 2001),
 (u'San Juan', u'2', 2001),
 (u'San Juan', u'3', 2001),
 (u'San Juan', u'4', 2001),
 (u'Carbon', u'1', 2001),
 (u'Carbon', u'2', 2001),
 (u'Centralia', u'BW21', 2001),
 (u'Centralia', u'BW22', 2001),
 (u'Dave Johnston', u'BW41', 2001),
 (u'Dave Johnston', u'BW42', 2001),
 (u'Dave Johnston', u'BW43', 2001),
 (u'Dave Johnston', u'BW44', 2001),
 (u'Naughton', u'1', 2001),
 (u'Naughton', u'2', 2001),
 (u'Naughton', u'3', 2001),
 (u'Navajo Generating Station', u'1', 2001),
 (u'Navajo Generating Station', u'2', 2001),
 (u'Navajo Generating Station', u'3', 2001),
 (u'Craig', u'C1', 2001),
 (u'Craig', u'C2', 2001),
 (u'Craig', u'C3', 2001),
 (u'Colstrip', u'1', 2001),
 (u'Colstrip', u'2', 2001),
 (u'Colstrip', u'3', 2001),
 (u'Colstrip', u'4', 2001),
 (u'Lewis & Clark', u'B1', 2001),
 (u'Wyodak', u'BW91', 2001),
 (u'Boardman', u'1SG', 2001),
 (u'Hunter', u'1', 2001),
 (u'Hunter', u'2', 2001),
 (u'Hunter', u'3', 2001),
 (u'Coronado Generating Station', u'U1B', 2001),
 (u'Coronado Generating Station', u'U2B', 2001),
 (u'Laramie River', u'1', 2001),
 (u'Laramie River', u'2', 2001),
 (u'Laramie River', u'3', 2001),
 (u'Pawnee', u'1', 2001),
 (u'Intermountain', u'1SGA', 2001),
 (u'Intermountain', u'2SGA', 2001),
 (u'Rawhide Energy Station', u'101', 2001),
 (u'Neil Simpson II', u'001', 2001),
 (u'Bonanza', u'1-1', 2001),
 (u'Jim Bridger', u'BW71', 2001),
 (u'Jim Bridger', u'BW72', 2001),
 (u'Jim Bridger', u'BW73', 2001),
 (u'Jim Bridger', u'BW74', 2001),
 (u'Huntington', u'1', 2001),
 (u'Huntington', u'2', 2001),
 (u'Ray D Nixon', u'1', 2001),
 (u'Springerville Generating Station', u'1', 2001),
 (u'Springerville Generating Station', u'2', 2001),
 (u'Springerville Generating Station', u'4', 2009),
 (u'Springerville Generating Station', u'TS3', 2006),
 (u'North Valmy', u'1', 2001),
 (u'North Valmy', u'2', 2001),
 (u'Sunnyside Cogeneration Associates', u'1', 2015),
 (u'Wygen I', u'001', 2003),
 (u'Hardin', u'U1', 2006),
 (u'TS Power Plant', u'001', 2008),
 (u'Wygen II', u'001', 2008),
 (u'Wygen III', u'001', 2010),
 (u'Dry Fork Station', u'01', 2011)]

In [1]:
import csv, sqlite3
import os.path

In [7]:
con = sqlite3.connect("cems.db")
cur = con.cursor()

In [8]:
# Set up table to receive CEMS data
cur.execute('drop table if exists test;')
cur.execute(
"create table test( \
    state varchar, \
    facility_name varchar, \
    orispl_code int, \
    unitid varchar, \
    op_date date, \
    op_hour int, \
    op_time float, \
    gload float, \
    SO2_MASS float, \
    NOX_MASS float, \
    CO2_MASS float, \
    HEAT_INPUT float \
);")

In [14]:
# Iterate through files to read data into database
for year in range(2001, 2018):
    print(year)
    for n_month in range(1, 13):
        for state in ['wa', 'or', 'ca', 'id', 'nv', 'ut', 'az', 'nm', 'co', 'wy', 'mt', 'tx']:
            month = str(n_month) if n_month > 9 else "0" + str(n_month)
            name = "unzipped/" + str(year) + state + month + ".csv"
            if os.path.isfile(name):
                with open(name, 'rb') as fin:
                    dr = csv.DictReader(fin)
                    try:
                        to_db = [(i['STATE'], i['FACILITY_NAME'], i['ORISPL_CODE'], i['UNITID'], i['OP_DATE'], i['OP_HOUR'], i['OP_TIME'], i['GLOAD (MW)'], 
                                  i['SO2_MASS (lbs)'], i['NOX_MASS (lbs)'], i['CO2_MASS (tons)'], i['HEAT_INPUT (mmBtu)']) for i in dr]
                    except:
                        try:
                            to_db = [(i['STATE'], i['FACILITY_NAME'], i['ORISPL_CODE'], i['UNITID'], i['OP_DATE'], i['OP_HOUR'], i['OP_TIME'], i['GLOAD'], 
                                  i['SO2_MASS'], i['NOX_MASS'], i['CO2_MASS'], i['HEAT_INPUT']) for i in dr]
                        except:
                            print(name)
#                     print to_db
                    cur.executemany("insert into test (STATE, FACILITY_NAME, ORISPL_CODE, UNITID, OP_DATE, \
OP_HOUR, OP_TIME, GLOAD, SO2_MASS, NOX_MASS, CO2_MASS, HEAT_INPUT ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)

con.commit()

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017

In [16]:
%sql sqlite:///cems.db
%sql select * from test limit 5

Done.

[(u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 0, 1.0, 704.0, 11493.6, 2506.854, 720.5, 7022.0),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 1, 1.0, 706.0, 11774.7, 2577.369, 736.6, 7179.3),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 2, 1.0, 704.0, 11156.9, 2606.306, 718.8, 7006.2),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 3, 1.0, 702.0, 10990.0, 2561.697, 716.2, 6980.1),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 4, 1.0, 702.0, 11027.6, 2631.762, 716.2, 6980.8)]