In [1]:
import csv, sqlite3
import os.path

In [2]:
con = sqlite3.connect("labels.db")
cur = con.cursor()

In [3]:
cur.execute('drop table if exists labels;')
cur.execute(
"create table labels( \
    state varchar, \
    facility_name varchar, \
    orispl_code int, \
    unitid varchar, \
    year int, \
    county varhcar, \
    latitude float, \
    longitude float, \
    fuel_type varchar, \
    fule_type_secondary varchar \
);")

In [4]:
with open('facility_06-23-2017_144111628.csv', 'rb') as fin:
    dr = csv.DictReader(fin)
    to_db = [(i['State'],  i[' Facility Name'], i[' Facility ID (ORISPL)'], i[' Unit ID'], i[' Year'], i[' County'],  
              i[' Facility Latitude'], i[' Facility Longitude'], i[' Fuel Type (Primary)'], i[' Fuel Type (Secondary)']) for i in dr]
cur.executemany("insert into labels (    state, facility_name, orispl_code, unitid, year, \
    county, latitude, longitude, fuel_type, fule_type_secondary \
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
con.commit()

In [10]:
%load_ext sql
%sql sqlite:///labels.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@labels.db'

In [11]:
%sql select * from labels limit 5

Done.

[(u'AK', u'Healy Power Plant', 6288, u'1', 2015, u'Denali (B)', 63.8542, -148.95, u'Coal', u''),
 (u'AK', u'Healy Power Plant', 6288, u'1', 2016, u'Denali (B)', 63.8542, -148.95, u'Coal', u''),
 (u'AK', u'Healy Power Plant', 6288, u'2', 2015, u'Denali (B)', 63.8542, -148.95, u'', u''),
 (u'AK', u'Healy Power Plant', 6288, u'2', 2016, u'Denali (B)', 63.8542, -148.95, u'', u''),
 (u'AL', u'AMEA Sylacauga Plant', 56018, u'1', 2004, u'Talladega', 33.1661, -86.2825, u'Pipeline Natural Gas', u'')]