In [1]:
%load_ext sql

In [19]:
%sql sqlite:///tx.db

u'Connected: None@tx.db'

In [20]:
%sql select distinct name from data limit 5

Done.

[(u'Newman',), (u'Copper Station',)]

In [14]:
%sql select * from data where state is 'TX' and county is not 'El Paso' limit 5

Done.

[]

In [21]:
%sql sqlite:///smaller.db
%sql delete from data where state is 'TX' and (county is not 'El Paso' or name is 'Montana Power Station')
%sql vacuum

47604738 rows affected.
Done.

[]

In [9]:
%sql vacuum

Done.

[]

In [29]:
%sql sqlite:///smaller.db
%sql select distinct(fuel_actual), count(DISTINCT(orispl_code)) from data group by fuel_actual

Done.

[(u'', 1),
 (u'Coal', 41),
 (u'Diesel Oil, Pipeline Natural Gas', 1),
 (u'NG', 142),
 (u'Other Gas', 1),
 (u'Residual Oil', 1)]