In [1]:
%load_ext sql

In [14]:

%sql sqlite:///smaller.db

u'Connected: None@smaller.db'

In [3]:
%sql select * from data limit 5

Done.

[(u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 1, 1.0, 706.0, 11774.7, 2577.369, 736.6, 7179.3, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 2, 1.0, 704.0, 11156.9, 2606.306, 718.8, 7006.2, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 3, 1.0, 702.0, 10990.0, 2561.697, 716.2, 6980.1, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 4, 1.0, 702.0, 11027.6, 2631.762, 716.2, 6980.8, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 5, 1.0, 699.0, 11258.5, 2678.697, 721.4, 7030.7, u'Lewis', 46.7559, -122.8578, u'Coal')]

In [ ]:
%sql select count(*) from data

In [3]:
%sql select * from data where state is UPPER('wa') limit 5

Done.

[(u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 1, 1.0, 706.0, 11774.7, 2577.369, 736.6, 7179.3, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 2, 1.0, 704.0, 11156.9, 2606.306, 718.8, 7006.2, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 3, 1.0, 702.0, 10990.0, 2561.697, 716.2, 6980.1, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 4, 1.0, 702.0, 11027.6, 2631.762, 716.2, 6980.8, u'Lewis', 46.7559, -122.8578, u'Coal'),
 (u'WA', u'Centralia', 3845, u'BW21', u'01-01-2001', 5, 1.0, 699.0, 11258.5, 2678.697, 721.4, 7030.7, u'Lewis', 46.7559, -122.8578, u'Coal')]

In [ ]:
import sqlite3
for state in ['or', 'ca', 'id', 'nv', 'ut', 'az', 'nm', 'co', 'wy', 'mt', 'tx']:
    con = sqlite3.connect(state + ".db")
    con = sqlite3.connect("smaller.db")
    cur = con.cursor()
    cur.execute("attach database '" + state + ".db' AS " + state + "db;")
    cur.execute("create table " + state + "db.data as \
    select * from data where data.state = UPPER('" + state + "');")

In [16]:
%%sql
ATTACH DATABASE 'wa.db' AS wash;

Done.

[]

In [17]:
%sql create table wash.data as select * from data where state is UPPER('wa');

Done.

[]

In [ ]:
print("HI")