In [1]:
%load_ext sql
%sql sqlite:///to_insert.db

u'Connected: None@to_insert.db'

In [3]:
%sql select * from data limit 5

Done.

[(u'WA', u'Fredonia Generating Station', 607, u'CT3', u'01-01-2017', 0, 0.0, u'', u'', u'', u'', u''),
 (u'WA', u'Fredonia Generating Station', 607, u'CT3', u'01-01-2017', 1, 0.0, u'', u'', u'', u'', u''),
 (u'WA', u'Fredonia Generating Station', 607, u'CT3', u'01-01-2017', 2, 0.0, u'', u'', u'', u'', u''),
 (u'WA', u'Fredonia Generating Station', 607, u'CT3', u'01-01-2017', 3, 0.0, u'', u'', u'', u'', u''),
 (u'WA', u'Fredonia Generating Station', 607, u'CT3', u'01-01-2017', 4, 0.0, u'', u'', u'', u'', u'')]